body
{
    background-color: rgb(150, 50, 204);
;
}
h2{
    text-align: center;
    font-style: italic;
    text-decoration:overline ;
    text-shadow: 5px 5px 15px blue;
    
}
*{
    margin-left: 10px;
/*        2 ta man dewa thakle ekta top and bottom: ore ta jabe left: and right: ;; */
margin: 10px 20px;

}
.Blog{
background-color: aquamarine;
border:10px solid salmon ;
border-radius: 10px;
box-shadow: 10px 10px 60px 5px;

padding: 15px 5px
}